<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Day</title>
	
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		    		rel="stylesheet">    	
	<style> body {background-color:gray}</style>
</head>
<body>
	<div class="d-flex flex-row shadow align-items-center bg-info text-white p-1">
			<h1>Trip Manager</h1>
	</div>
	<div class="container bg-light">
		<div class="row">
			<div class="col border">
				<p>Time</p>
			</div>
			<div class="col border">
				<p>Places</p>
			</div>
			<div class="col">
				<p>Extra</p>
			</div>
		</div>
	</div>

<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>   


	
</body>
</html>
