<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Trip</title>
	
	<link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
		    		rel="stylesheet">    	
</head>
<body>
	<div class="d-flex flex-row justify-content-between align-items-center bg-info text-white p-1 mb-2">
			<h1 th:text="${trip.name}">Trip</h1>
			<h1>Hi</h1>
	</div>

	<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
</body>
</html>

